<div *ngIf="hero">
  <!--button (click)="goBack()">go back</button-->
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <form class="example-form">

    <mat-form-field ngClass="full-width">
      <input matInput *ngIf="authService.isLoggedIn" [(ngModel)]="hero.name" name="name" placeholder="name"/>
    </mat-form-field>

    <mat-form-field ngClass="full-width">
      <input matInput *ngIf="authService.isLoggedIn" [(ngModel)]="hero.rating" name="rating" placeholder="rating"/>
    </mat-form-field>

    <mat-form-field ngClass="full-width">
      <input matInput *ngIf="authService.isLoggedIn" [(ngModel)]="hero.role" name="role" placeholder="role"/>
    </mat-form-field>

    <mat-form-field ngClass="full-width">
      <textarea matInput *ngIf="authService.isLoggedIn" [(ngModel)]="hero.description" name="description" placeholder="description"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="goBack()">Go back</button>
    <button *ngIf="authService.isLoggedIn" mat-raised-button color="primary" (click)="save()">Save</button>

  </form>
</div>
