<h3>Top Heroes</h3>
<div ngClass="hero-dashboard-list">
  <a ngClass="hero-dashboard-list-item" routerLink="/detail/{{hero.id}}"
     *ngFor="let hero of topHeroes"
     [style.background]="hero.getColor()">
    <mat-card [style.background]="hero.getColor()">
      <mat-card-title>{{hero.name}}</mat-card-title>
    </mat-card>
  </a>

</div>

<h3>Newest Heroes</h3>
<div ngClass="hero-dashboard-list">
  <a ngClass="hero-dashboard-list-item" routerLink="/detail/{{hero.id}}"
     *ngFor="let hero of newHeroes"
     [style.background]="hero.getColor()">
    <mat-card [style.background]="hero.getColor()">
      <mat-card-title>{{hero.name}}</mat-card-title>
    </mat-card>
  </a>
</div>
